html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#main_div{
    display: grid;
    grid-template-columns: 80% 10% 10%;
}

#main_div h1{
    margin-left: 50%;
}

#main_div input{
    background-color: rgba(0, 0, 0, 0.63);
    color: white;
    border-color: transparent;
    height: 40px;
    margin-top: 30px;
    margin-right: 10%;
}

#main_div input:hover{
    cursor: pointer;
    background-color: black;
    box-shadow: 0em 0em 1em black;
    transition: 0.3s ease;
}

header nav li a{
    text-decoration: none;
    color: white;
}

header nav ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 25% 25% 25%;
    margin-left: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
}

header nav li{
    background-color: rgba(0, 0, 0, 0.63);
    width: 80%;
    text-align: center;
    padding: 10px;
}

header nav li:hover{
    background-color: black;
    cursor: pointer;
    transition: 0.3s ease;
}

.div_campagne{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    background-color: rgba(0, 0, 0, 0.295);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.div_campagne h1{
    font-size: 13pt;
}

footer{
    text-align: center;
    position: static;
    margin-top: 40px;
}

