html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Orbitron", serif;
    background-color: #d9d9d9;
    height: 100%;
}



#main_div{
    display: grid;
    grid-template-columns: 80% 10% 10%;
    font-family: "Orbitron", serif;
    color: white;
    margin-bottom: 0.1em;
}

#main_div h1{
    margin-left: 57%;
}

#main_div input{
    background-color: #3c6e71;
    border-color: transparent;
    color: black;
    height: 40px;
    margin-top: 30px;
    margin-right: 10%;
    border-radius: 20px;
}

#main_div input:hover{
    cursor: pointer;
    background-color: #3c6e71;
    box-shadow: 0em 0em 1em #3c6e71;
    transition: 0.3s ease;
}


.div_campagne{
    text-align: center;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: #3c6e71;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.div_campagne h1,a{
    font-size: 13pt;
    color: white;
}

h2{
    text-align: center;
    font-family: "Orbitron", serif;
    margin-bottom: 3%;
}

footer{
    background-color: #353535;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 40px;
    position: absolute;
    bottom: 0;
}

footer p{
    text-align: center;
}

footer img{
    height: 2%;
    width: 2%;
    margin-left:3%;
    margin-right:3%;
    margin-top: 1%;
}

footer a{
    color: white;
}

footer.css{
    height: 1%;
    width: 1%;
}

header{
    margin-bottom: 3%;
    background-color: #353535;

}

.menu {
    display: -webkit-box;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-family: "Orbitron", serif;
    order: 2;
}

ol {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-left: 0;
    margin-bottom: 0;
    padding: 0.5em 0;
    list-style: none;
}

.menu-item {
    padding: 1em 0.5em;
    position: relative;
    margin: 0 0.1em;
    -webkit-transition: border-bottom 0.23s ease-in-out, background 0.23s linear;
    transition: border-bottom 0.23s ease-in-out, background 0.23s linear;
    cursor: pointer;
    min-width: 5em;
    text-align: center;
    align-items: flex-start;
    border-radius: 20px;
}

.menu-item[aria-haspopup="true"] {
    border-bottom-color: #C8AD7F;
}

.menu-item:hover, .menu-item:focus-within {
    border-bottom-color: #B1A296;
    background: #333;
}

.menu-item:hover .sub-menu, .menu-item:hover .sub-menu:hover, .menu-item:focus-within .sub-menu, .menu-item:focus-within .sub-menu:hover {
    visibility: visible;
    opacity: 1;
    display: -webkit-box;
    display: flex;
}

.sub-menu {
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    left: 0;
    margin-top: 20px;
    visibility: hidden;
    display: none;
    opacity: 0;
}

.sub-menu .menu-item {
    margin: 0.1em 0;
    padding: 1em;
    width: 10em;
    text-align: center;
    z-index: 2;
}

#lienmenu {
    color: white;
    text-decoration: underline;
    text-underline-offset: 0.25em;
    text-decoration-color: currentColor;
    text-transform: capitalize;
    margin-bottom: 0;

}

#lienmenu:focus {
    outline: none;
}

.menu {
    width: 70%;
    font-size: 20px;

}

.menu-item {
    margin: 0.1em 0.1em 0 0.1em;
    background-color: #353535;
}
/** FORM **/
/**---- FORM ----**/
.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form label{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 5px;
    flex-direction: row;
}

form input[type="radio"]{
/*form input[type="radio"]{
    margin-left: 47%;
}
}*/

.form input[type="text"]{
    margin-left: -25%;
    width: 150%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #353535;
    box-shadow: 2px 2px 6px #353535;
    transition: box-shadow 1s;
    border-width: 0;
}


.form input[type="password"]{
    margin-left: -25%;
    width: 150%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #353535;
    transition: box-shadow 1s;
    border-width: 0;
}

.form input[type="radio"]{
    margin-left: 33%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #353535;
    transition: box-shadow 1s;
}

.form select{
    width: 100%;
    margin-left: -25%;
    width: 153%;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #353535;
    transition: box-shadow 1s;
    border-width: 0;
}

/* FORM:HOVER */
.form input:hover{
    box-shadow: 6px 6px 6px #565656;
    transition: box-shadow 1s;
}

.form input[type="password"]:hover{
    box-shadow: 6px 6px 6px #565656;
    transition: box-shadow 1s;
}

.form input[type="submit"]:hover{
    box-shadow: 6px 6px 6px #565656;
    transition: box-shadow 1s;
}

.form select:hover{
    box-shadow: 6px 6px 6px #565656;
    transition: box-shadow 1s;
}

.listedemande{
    border: solid black;
    min-width: 20%;
    min-height: 50%;
    float : left;
    margin-left: 4%;
}

.demandedescription{
    border: solid black;
    min-width: 70%;
    min-height: 50%;
    float: right;
    margin-right: 4%;
}

.demandedescription input{
    display: inline-block;
    align-items: center;
}

.listedemande button{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1em;
    border: solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    border-radius: 15px;
}

.Titre{
    align-items: center;
    text-align: center;
}

.demandeinformation{
    border : solid black;
    font-family: "Orbitron", serif;
    text-align: center;
    margin: 1em;
}
